body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/564x/f3/ff/fb/f3fffbae253e34c636ac6c11e56997a3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.cartinha {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    max-width: 100%;
    margin-bottom: 20px;
}

.mural {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mural img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}

.rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent url('https://www.script-tutorials.com/demos/360/images/stars.png') repeat top center;
    z-index: 0;
    animation: rain 0.5s linear infinite;
}

@keyframes rain {
    0% {
        background-position: 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px;
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .cartinha {
        padding: 15px;
    }

    .mural img {
        height: 150px;
    }

    .mural {
        height: auto;
    }
}